USE [master]
GO
/****** Object:  Database [QuanLyCoffee]    Script Date: 27/04/2025 3:32:05 CH ******/
CREATE DATABASE [QuanLyCoffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCoffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCoffee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCoffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCoffee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCoffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCoffee]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[maCaLamViec] [nvarchar](20) NOT NULL,
	[tenCaLamViec] [nvarchar](100) NOT NULL,
	[thoiGianBatDau] [time](7) NOT NULL,
	[thoiGianKetThuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCaLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maCTHD] [int] IDENTITY(1,1) NOT NULL,
	[maHD] [int] NULL,
	[maSanPham] [varchar](50) NULL,
	[soLuong] [int] NULL,
	[donGia] [decimal](18, 2) NULL,
	[thanhTien]  AS ([soLuong]*[donGia]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[maCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chucVu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[ngayLapHD] [date] NULL,
	[tongTien] [decimal](18, 2) NULL,
	[maNhanVien] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](50) NOT NULL,
	[tenNhanVien] [nvarchar](255) NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[soDienThoai] [varchar](15) NULL,
	[chucVuId] [int] NULL,
	[maTaiKhoan] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongCaLam]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongCaLam](
	[maNhanVien] [varchar](50) NOT NULL,
	[maCaLamViec] [nvarchar](20) NOT NULL,
	[ngayLamViec] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC,
	[maCaLamViec] ASC,
	[ngayLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [varchar](50) NOT NULL,
	[tenSanPham] [nvarchar](255) NULL,
	[giaBan] [decimal](18, 2) NULL,
	[loaiSanPham] [nvarchar](100) NULL,
	[anhSanPham] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 27/04/2025 3:32:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTaiKhoan] [varchar](50) NOT NULL,
	[tenDangNhap] [varchar](50) NULL,
	[matKhau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([maCaLamViec], [tenCaLamViec], [thoiGianBatDau], [thoiGianKetThuc]) VALUES (N'CLV001', N'Ca1', CAST(N'06:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([maCaLamViec], [tenCaLamViec], [thoiGianBatDau], [thoiGianKetThuc]) VALUES (N'CLV002', N'Ca2', CAST(N'11:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([maCaLamViec], [tenCaLamViec], [thoiGianBatDau], [thoiGianKetThuc]) VALUES (N'CLV003', N'Ca3', CAST(N'16:00:00' AS Time), CAST(N'20:00:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([maCTHD], [maHD], [maSanPham], [soLuong], [donGia]) VALUES (1, 1, N'SP001', 1, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maCTHD], [maHD], [maSanPham], [soLuong], [donGia]) VALUES (2, 1, N'SP002', 1, CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietHoaDon] ([maCTHD], [maHD], [maSanPham], [soLuong], [donGia]) VALUES (3, 1, N'SP003', 1, CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([id], [chucVu]) VALUES (1, N'Nhân viên')
INSERT [dbo].[ChucVu] ([id], [chucVu]) VALUES (2, N'Quản lý')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([maHD], [ngayLapHD], [tongTien], [maNhanVien]) VALUES (1, CAST(N'2024-04-27' AS Date), CAST(45000.00 AS Decimal(18, 2)), N'NV001')
INSERT [dbo].[HoaDon] ([maHD], [ngayLapHD], [tongTien], [maNhanVien]) VALUES (2, CAST(N'2024-04-27' AS Date), CAST(60000.00 AS Decimal(18, 2)), N'NV002')
INSERT [dbo].[HoaDon] ([maHD], [ngayLapHD], [tongTien], [maNhanVien]) VALUES (3, CAST(N'2024-04-28' AS Date), CAST(35000.00 AS Decimal(18, 2)), N'NV001')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [soDienThoai], [chucVuId], [maTaiKhoan]) VALUES (N'NV001', N'Nguyễn Trần Phi Hoàng', N'Nam', N'0896368408', 2, N'TK001')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [soDienThoai], [chucVuId], [maTaiKhoan]) VALUES (N'NV002', N'Lưu Văn Quốc', N'Khác', N'0123456789', 1, N'TK002')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [soDienThoai], [chucVuId], [maTaiKhoan]) VALUES (N'NV003', N'Trần Đình Sĩ', N'Nam', N'0123456789', 2, N'TK003')
GO
INSERT [dbo].[PhanCongCaLam] ([maNhanVien], [maCaLamViec], [ngayLamViec]) VALUES (N'NV001', N'CLV001', CAST(N'2024-04-27T00:00:00.000' AS DateTime))
INSERT [dbo].[PhanCongCaLam] ([maNhanVien], [maCaLamViec], [ngayLamViec]) VALUES (N'NV001', N'CLV001', CAST(N'2024-04-29T00:00:00.000' AS DateTime))
INSERT [dbo].[PhanCongCaLam] ([maNhanVien], [maCaLamViec], [ngayLamViec]) VALUES (N'NV002', N'CLV002', CAST(N'2024-04-27T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [loaiSanPham], [anhSanPham]) VALUES (N'SP001', N'Cà phê đen', CAST(15000.00 AS Decimal(18, 2)), N'Cà phê', N'img/cafeden.jpg')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [loaiSanPham], [anhSanPham]) VALUES (N'SP002', N'Cà phê sữa', CAST(20000.00 AS Decimal(18, 2)), N'Cà phê', N'img/cafesua.jpg')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [giaBan], [loaiSanPham], [anhSanPham]) VALUES (N'SP003', N'Sting dâu', CAST(10000.00 AS Decimal(18, 2)), N'Nước ngọt', N'img/sting.jpg')
GO
INSERT [dbo].[TaiKhoan] ([maTaiKhoan], [tenDangNhap], [matKhau]) VALUES (N'TK001', N'hoang', N'1')
INSERT [dbo].[TaiKhoan] ([maTaiKhoan], [tenDangNhap], [matKhau]) VALUES (N'TK002', N'quoc', N'1')
INSERT [dbo].[TaiKhoan] ([maTaiKhoan], [tenDangNhap], [matKhau]) VALUES (N'TK003', N'si', N'1')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([chucVuId])
REFERENCES [dbo].[ChucVu] ([id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([maTaiKhoan])
GO
ALTER TABLE [dbo].[PhanCongCaLam]  WITH CHECK ADD FOREIGN KEY([maCaLamViec])
REFERENCES [dbo].[CaLamViec] ([maCaLamViec])
GO
ALTER TABLE [dbo].[PhanCongCaLam]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
USE [master]
GO
